<?xml version="1.0" ?>

<plugin>

    <extension id="pellet.reasoner.factory"
               point="org.protege.editor.owl.inference_reasonerfactory">
        <name value="Pellet"/>
        <class value="com.clarkparsia.pellet.protege.PelletReasonerFactory"/>
    </extension>


    <extension id="pellet.reasoner.configuration" point="org.protege.editor.owl.inference_preferences">
        <label value="Pellet"/>
        <class value="com.clarkparsia.pellet.protege.PelletPreferencesPanel"/>
    </extension>
</plugin>
